html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* color: white; */
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#app {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
