html,
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

.center-app {
    position: relative;
    left: 10%;
}

.center {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#gradient {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.login {
    width: 100%;
    min-height: 100vh;
    padding: 0px 40px;
    /* background: #e9e9e9; */
    text-align: center;
    display: flex;
}

.login .loginContainer {
    border-radius: 10px;
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 40px;
    max-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
        ellipse at left bottom,
        rgb(19, 240, 74) 0%,
        rgba(56, 214, 8, 0.9) 59%,
        rgba(21, 255, 0, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
}

.login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgb(174, 236, 177);
    color: #000;
    letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
}

.login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
}

.login .loginContainer .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
    color: red;
}

.login .loginContainer .errorMsg {
    color: red;
    font-size: 16px;
}

.HomePage {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
        ellipse at left bottom,
        rgba(22, 24, 47, 1) 0%,
        rgba(38, 20, 72, 0.9) 59%,
        rgba(17, 27, 75, 0.9) 100%
    );
}

.HomePage nav {
    background: #603bbb;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    color: #fff;
}

.sign-btn {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #058d00;
    cursor: pointer;
}

.logout-btn {
    background: #67b26f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #4ca2cd,
        #67b26f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #4ca2cd,
        #67b26f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.feedback-btn {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    /* background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    cursor: pointer;
}

@media screen and (max-width: 520px) {
    body {
        overflow: visible;
    }

    .login .loginContainer {
        border-radius: 10px;
        padding: 30px 40px;
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
        max-width: 100vw;
        min-height: 40px;
        max-height: 90vh;
    }

    .feedback-btn {
        width: fit-content;
    }

    .center {
        /* position: relative; */
        left: 40%;
    }
}
